<% content_for :title, "Forgot Password" %>

<div class="fpasswrd">
    <h1 class="logo"><a href="http://www.bkinfo.in" target="_blank">Brahma Kumaris</a></h1>
	<h2>Forgot Password?</h2><br/>
	<p class="notify">Please enter your centre email address, we will send you instructions on how to reset password.</p>
    <center>
		<% form_tag '/forgot_password' do %>
		    <table align="center" width="100%" cellspacing="5" cellpadding="2" style="margin: 0 auto;">
				<tr><td colspan="2">
					<% if flash[:notice] -%>
		    			<div id="notice" align="center"><%= flash[:notice] %></div>
					<% end -%>
				</td></tr>
				<tr><td colspan="2">&nbsp;</td></tr>
				<tr>
					<td align="right" width="45%"><%= label_tag :email, "Enter email address" %></td>
					<td align="left"><%= text_field_tag :email, "", :size => 40, :class => 'text' %></td>
				</tr>
		        <tr><td colspan="2">&nbsp;<br/></td></tr>
		        <tr><td colspan="2" align="center"><%= submit_tag "Submit", :class => 'button' %></td></tr>
		    </table>
		<% end %>
    </center>
</div>
